{% include "./header.html" %}
<body>
{% include "./menu.html" %}
<link href="/static/css/signin.css" rel="stylesheet">



    <form class="form-signin" action = '/member/edit' method='post'style="margin: auto; width: 50%;">
        <h1 class="h3 mb-3 font-weight-normal">회원정보 수정하기</h1>
        아이디 <input class="form-control" type="text" name = 'id' value="{{one.0}}" readonly/> <br>
        이름: <input class="form-control" type="text" name = 'name' value="{{one.2}}" /><br>
        나이: <input class="form-control" type="text" name = 'age' value="{{one.3}}" /><br>
        <input type="submit" class="btn btn-primary" value="수정" />
    </form>    

<!--
    <form class="form-signin" action="/member/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">로그인하기</h1>

        <label for="inputEmail" class="sr-only">ID</label>
        <input type="text" name="id" class="form-control" placeholder="ID" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="pw" class="form-control" placeholder="Password" required>

        
        <button class="btn btn-lg btn-primary btn-block" type="submit">log in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
    -->
</body>
</html>