<!--파일명 : template-->
{% include "./header.html" %}
<body>
{% include "./menu.html" %}
<link href="/static/css/signin.css" rel="stylesheet">

  <main role="main" class="inner cover" style="margin: auto; width: 50%;">

    <h5 class="cover-heading"style="margin: auto; width: 20%;">회원가입을 눌러주셔서</h1><br>
    <h1 class="cover-heading"style="margin: auto; width: 20%;">감사합니다.</h1><br><br>
    <p class="lead"></p>
    
  
  <br>

    <form class="form-signin" action="/member/join" method="post">
        <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>

        <label for="inputEmail" class="sr-only">ID</label>
        <input type="text" name="id" class="form-control" placeholder="ID" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="pw" class="form-control" placeholder="Password" required>

        <label for="inputEmail" class="sr-only">Password</label>
        <input type="password"  class="form-control" placeholder="Password check" required autofocus>

        <label for="inputEmail" class="sr-only">NAME</label>
        <input type="text" name="name" class="form-control" placeholder="NAME" required autofocus>

        <label for="inputEmail" class="sr-only">AGE</label>
        <input type="text" name="age" class="form-control" placeholder="AGE" required autofocus>
<!--
        <label for="inputEmail" class="sr-only">M/F</label>
        <input type="checkbox" name="gen" class="form-control" placeholder="M/F" required autofocus>
-->
              <input type="checkbox" name="gen" value="1"/>
        <label>남</label>
               <input type="checkbox" name="gen" value="0"/>
        <label>여</label><br />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
    <div style="margin: auto; width: 10%;">
      <p class="lead">
    
        <a href="#" class="btn btn-lg btn-secondary">약관보기</a>
      </p>
    </div>
</main>

</body>
</html>
