{% include "./header.html" %}
<body>
{% include "./menu.html" %}
<link href="/static/css/signin.css" rel="stylesheet">
    <form class="form-signin" action="/member/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">로그인하기</h1>

        <label for="inputEmail" class="sr-only">ID</label>
        <input type="text" name="id" class="form-control" placeholder="ID" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="pw" class="form-control" placeholder="Password" required>

        
        <button class="btn btn-lg btn-primary btn-block" type="submit">log in</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>

<!--        <form action="/member/login" method="post">
            <div class="mybox" style='margin-left:230px;'>
            
                <div class='form-inline' style = 'margin-bottom:10px;'>
                    <label style = 'width:100px'>아이디 : </label> <input type="text" name = 'id'><br />
                </div>

                <div class='form-control' style = 'margin-bottom:5px;'>
                    <label style = 'width:100px'>비밀번호 : </label> <input type="password" name = 'pw'><br />
                </div>

                <div class='btn btn-lg btn-primary btn-block' style = 'margin-bottom:5px;'>
                    <label style="width:460px"</label>
                    <input type="submit" class="btn btn-primary" value="로그인" />
                </div>
            </div>    
        </form>
        -->
</body>
</html>