{% include './header.html' %}
<body style="height: 100%;">
{% include './menu.html' %}
<link rel="icon" href="/static/img/google.png" sizes="32x32" type="image/png">
<link rel="icon" href="/static/img/daum.png" sizes="32x32" type="image/png">
<link rel="icon" href="/static/img/naver.jpg" sizes="32x32" type="image/jpg">
<link href="/static/css/carousel.css" rel="stylesheet">

<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>날짜별 순위 검색</h1>
              <p>준호 서비스 입니다.</p>
              <p><a class="btn btn-lg btn-primary" href="/board/service4" role="button">서비스 보러가기</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>그래프로 보기</h1>
              <p>창석 서비스 입니다.</p>
              <p><a class="btn btn-lg btn-primary" href="/board/service2" role="button">서비스 보러가기</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>검색어 집계</h1>
              <p>용희 서비스 입니다.</p>
              <p><a class="btn btn-lg btn-primary" href="/board/service3" role="button">서비스 보러가기</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>단어별 처음 검색된 날/마지막으로 검색된 날</h1>
              <p>영재 서비스 입니다.</p>
              <p><a class="btn btn-lg btn-primary" href="/board/service1" role="button">서비스 보러가기</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/static/js/bootstrap.bundle.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <div style="margin-left: 30%;">
      
        <div class="inner">
          <h1 style="margin-left: 15%;">영재, 창석, 용희, 준호</h1><br>
          
        </div>
        <div class="inner" style="margin-top: 100px;">
          
          <h3 style="margin-left: 5%;">본 서비스의 라이센스는 >>영재조<<에있습니다.</h3><br>
          <div>
            <img style="float: left;" class="mb-2" src="/static/img/google.png" alt="" width="24" height="24">
            <div style="float: left;"><a style="color:#212529;" href="https://Google.com/">Google 바로 가기</a></div>
          </div>

          <div style="float: left;">
            <img style="float: left;margin-left:200px;"class="mb-2" src="/static/img/naver.jpg" alt="" width="24" height="24">
            <div style="float: left;  "><a style="color:#212529;" href="https://Naver.com/">Naver 바로가기</a></div>
          </div>
          
          <div>
            <img style="float: left;margin-left:200px;"class="mb-2" src="/static/img/daum.png" alt="" width="24" height="24">
            <div style="float: left;"><a style="color:#212529;" href="https://Daum.net/">Daum 바로가기</a></div>
          </div>
        </div>



</body>
</html>