{% include './member/header.html' %}
<body>
    {% include './member/menu.html' %}


    <form action="/member/login" method='POST'>
    
        <div class = 'form-inline'>
            <label> 아이디 : </label><input type='text' name ='id'>
            <label> 아이디 : </label><input type='text' name ='id'>



        </div>
    
    
    
    </form>


</body>
</html>