<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/member/index">1조</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto" style="width: 100%;">
        {% if not request.session.userid %}
          <li class="nav-item active">
            <a class="nav-link" href="/member/login">로그인 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/member/join">회원가입</a>
          </li>
        {% else %}    
          <li class="nav-item active">
            <a class="nav-link" href="/member/logout">로그아웃</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/member/edit">회원정보수정</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/member/delete">회원탈퇴</a>
          </li>
        {% endif %}
        <!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        -->
      
        <li style="margin-left: 75%; float:left ">
          <select style="width: 160px;" class="form-control mr-sm-2" onchange="if(this.value) location.href=(this.value);">

            <option class="form-control mr-sm-2" value='' selected>-- 선택 --</option>                    
            <option value="/board/service1">단어별 검색
            <option value="/board/service2">그래프 보기
            <option value="/board/service3">날짜별 검색
            <option value="/board/service4">날짜별 순위
          </select>
        </li>
      </ul>
      
            <!--
              
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <select class="form-control mr-sm-2" name="" id="">
        <option value='' selected>-- 선택 --</option>                    
        <option value="1"> 서비스1</option>
        <option value="2">서비스2</option>
        <option value="3">서비스3</option>
        <option value="4">서비스4</option>
      </select>
      -->
    </div>
</nav>