{% include './header.html' %}
<body >
{% include './menu.html' %}

<div style="float:left; margin-left:0%; margin-top:5%; width:80%; height:100%">
  <main role="main">

    <div >
      <div >
        <div style="width: 90%; margin-left:5%">
            <div >
              <input class="form-control mr-sm-2" type="button" id="btn_add" value="검색어 추가하기" style="WIDTH: 160pt; HEIGHT: 30pt;"/><br>

                <form action='/board/service2' method='GET'>
                    <div id="form"></div>
                    <input class='form-control mr-sm-2' type="submit" value="검색하기" style='WIDTH: 160pt; HEIGHT: 30pt;' >
                </form>

                <br>
                {% if data %}
                <button type="button" class="btn btn-info      btn-sm">{{data.8.0}} </button>
                <button type="button" class="btn btn-primary   btn-sm">{{data.0.0}} </button>
                <button type="button" class="btn btn-secondary btn-sm">{{data.1.0}} </button>
                <button type="button" class="btn btn-success   btn-sm">{{data.2.0}} </button>
                <button type="button" class="btn btn-danger    btn-sm">{{data.3.0}} </button>
                <button type="button" class="btn btn-warning   btn-sm">{{data.4.0}} </button>
                <button type="button" class="btn btn-info      btn-sm">{{data.5.0}} </button>
                <button type="button" class="btn btn-light     btn-sm">{{data.6.0}} </button>
                <button type="button" class="btn btn-dark      btn-sm">{{data.7.0}} </button>
                <button type="button" class="btn btn-secondary btn-sm">{{data.9.0}} </button><br>
                <h3> 등을 검색하세요!</h3>                
                {% else %}
                    {{date.0.0}} 의 {{date.0.6}} 추세입니다.
                {% endif %}
                
                <div id="chart"></div>    
            </div>

        </div>
      </div>
    </div>

  </main>
</div>

  <div style="margin-left:0%; float: left;">
    <table class="table">
          <tr>
              <th>번호</th>
              <th style="">댓글</th>
              <th>내용</th>
              <th>작성자</th>
          </tr>
          {% for one in abs%}
          <tr>
              <td>{{one.no}}</td>
              <td>{{one.title}}</a></td>
              {% autoescape off %}
              <td>{{one.content}}</td>
              {% endautoescape %}
              <td>{{one.writer}}</td>
          </tr>
          {% endfor %}
    </table>
    <table>
      <form action="/board/service2" method="POST" >
        <div class = "container">
        <h3>댓글쓰기</h3>
        <div class ="form-inline" style="margin-bottom:5px;">
            <label>글제목</label>
            <input type="text" style="width: 50%" class="form-control" name="title"  />
        </div>
        <div class ="form-inline">
            <div class="form-group">
                <label>글내용</label>
            </div>
            {% autoescape off %}
            <div class="form-group" style="width:50%">
                <textarea id="summernote" class="form-control" name="content" ></textarea>
            </div>
            {% endautoescape %}
            
        </div>
        <div class ="form-inline">
            <label>작성자</label>
            <input type="text" style="width: 50%" class="form-control" name="writer"/>
        </div>
        <div class ="form-inline">
            <input type="submit" class="btn btn-primary"value="글쓰기"/>
        </div>
        </div>
    </form>
    </table>
  </div>


    <script>

        $(function(){
            var idx = 0;
            $('#btn_add').click(function(){
                if (idx>=3){
                    alert('최대 3개까지 가능합니다.')      }
                else{         
                    idx += 1
                    
                    $('#form').append(
                        "<div id='div_"+ idx +"'>" +
                        "검색어 : "+
                        "<input class='form-control mr-sm-2' type='text' style = 'width:260px;' name='search"+ idx +"' ><br>" +
                        "연령 선택 : "+
                        "<select class='form-control mr-sm-2' style='WIDTH: 260px; HEIGHT: 40px' name='age"+ idx +"'>" +                    
                            "<option value='' selected>-- 선택 --</option>" +                    
                            "<option value='10대'>10대</option>" +                    
                            "<option value='20대'>20대</option>" +                    
                            "<option value='30대'>30대</option>" +                    
                            "<option value='40대'>40대</option>" +                    
                            "<option value='50대 이상'>50대이상</option>" +                    
                        "</select><br>"+
                        "<input type='button' myval='" + idx + "' value='delete' class='btn_delete' /><br>" +
                        "<br />"  +
                        "<div>"
                    )}
            });
            
            $(document).on("click",".btn_delete",function() {
                var idx = $(this).attr('myval')
                $('#div_'+idx).empty()
            });
        })


        var str1 = '{{data1}}'
        var str2 = '{{data2}}'

        var str_xs = null
        var arr_cl = null

        if (str1 != "" && str2 != ""){
            str1 = str1.replace(/&#x27;/gi, "'");
            var objx = eval(str1)  //문자열로 [1,2,3,4]  => javascript배열로변경
            objx.unshift('x');     //['x',1,2,3,4]
            console.log(objx)

            var objy = eval(str2)
            objy.unshift('rank');
            console.log(objy)

            //1개
            str_xs = {'rank': 'x' }
            arr_cl = [objy, objx]
        }
        //////////////////////////////////////////////////////
        var str3 = '{{data3}}'
        var str4 = '{{data4}}'

        if(str3 != "" && str4 != ""){
            str3 = str3.replace(/&#x27;/gi, "'");
            var objx1 = eval(str3)  //문자열로 [1,2,3,4]  => javascript배열로변경
            objx1.unshift('x1');     //['x',1,2,3,4]
            console.log(objx1)

            var objy1 = eval(str4)
            objy1.unshift('rank1');
            console.log(objy1)

            //2개
            str_xs = {'rank': 'x', 'rank1': 'x1' }
            arr_cl = [objy, objy1, objx, objx1]
        }
        //////////////////////////////////////////////////////////////////////////

        var str5 = '{{data5}}'
        var str6 = '{{data6}}'

        if(str5 != "" && str6 != ""){
            str5 = str5.replace(/&#x27;/gi, "'");
            var objx2 = eval(str5)  //문자열로 [1,2,3,4]  => javascript배열로변경
            objx2.unshift('x2');     //['x',1,2,3,4]
            console.log(objx2)

            var objy2 = eval(str6)
            objy2.unshift('rank2');
            console.log(objy2)
            str_xs = {'rank': 'x', 'rank1': 'x1',  'rank2': 'x2' }
            arr_cl = [objy,  objy1,            objy2,            objx,            objx1,            objx2]
        }

        /////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////
        var chart = c3.generate({
            bindto: '#chart',
            //////////////////////////////////////////////////////////////////////////
            data: {
                xs: str_xs,
                columns: arr_cl
            },
            axis: {
                x: {
                    type: 'category',
                    
                    tick: {
                        format: '%Y-%m-%d'
                    },
                    rank:{
                        reversed:true
                    } 
                }
            }
        });
        /*
        var chart = c3.generate({
            bindto: '#chart',
            //////////////////////////////////////////////////////////////////////////
            data: {
                xs: {
                    'rank': 'x',
                    'rank1': 'x1',
                    'rank2': 'x2'
                },
                columns: [
                    objy,
                    objy1,
                    objy2,
                    objx,
                    objx1,
                    objx2
                ]
            },
            axis: {
                x: {
                    type: 'category',
                    
                    tick: {
                        format: '%Y-%m-%d'
                    },
                    rank:{
                        reversed:true
                    } 
                }
            }
        });
        */
    </script>
    

</body>

</html>

