{% include './header.html' %}
<body>
{% include './menu.html' %}
<div style="margin-left:5%; width:70%; float:left;">
  <table class="table">
    <div class="container-fluid">
      <td colspan="7" align="center"  height="40" style="color:white">
      <div class="alert alert-success" role="alert"><h5>*********검색어키워드*********</h5></div>
    </div>
  </table>
      
      <MARQUEE scrolldelay="5">
      {% for i in li %}
        {{i.0}}
      {% endfor %}
      </MARQUEE>

      <!-- 스크롤의 속도-->

      <form action="/board/service4" method="GET">
        <table class="table">
          <tr>
            <td colspan="20" align="center"  height="40" style="color:white">
            <div class="alert alert-success" role="alert"><h4>*********검색하기*********</h4></div>
              
            </td>
          </tr>

          <tr>
            <td ><div class="p-1 mb-1 bg-success text-white"><h4>날짜선택</h4></div></td>
            <td>
              <select class="form-control" name="ye">
                {% for i in YE %}
                <option values="">{{i}}</option>
                {% endfor %}	
            <td></select> 년</td>
            </td>
            
            <td>
              <select class="form-control" name="mo">
                {% for i in MO %}
                <option values="">{{i}}</option>
                {% endfor %}	
            <td></select>월</td>
            </td>
            <td>  
              <select class="form-control" name="da">
                {% for i in DA %}
                <option values="">{{i}}</option>
                {% endfor %}
            <td></select > 일</td>
            </td>
            <td>
              <select class="form-control" name="ti">
                {% for i in TI %}
                <option values="">{{i}}</option>
                {% endfor %}
            <td></select> 시</td>
            </td>
            <td><input type="submit" class="btn btn-secondary" value="검색"/><td>
          </tr> 
        </table>
      </form>
    



  <div class="container-fluid">
    <div class="row">

        <div class="col-sm">
          <table class="table table-sm">
            <tr>
              <td colspan="3"><h3>10대</h3></td>
            </tr>
            <tr>
              <!--10-->
              <th scope="col" width="60px">순위</th>
              <th scope="col">　　　　검색어</th>
              <th scope="col" width="60px">시간대</th>
            </tr>

            {% for i in kk %}
            <tr>
              <td>{{i.0.0}}</td>
              <td>{{i.0.1}}</td>
              <td>{{i.0.2}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="col-sm">
          <table class="table table-sm">
            <tr>
              <td colspan="3"><h3>20대</h3></td>
            </tr>
            <tr>
              <!--20-->
              <th scope="col" width="60px">순위</th>
              <th scope="col">　　　　검색어</th>
              <th scope="col" width="60px">시간대</th>
            </tr>

            {% for i in kk %}
            <tr>
                <td>{{i.1.0}}</td>
                <td>{{i.1.1}}</td>
                <td>{{i.1.2}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="col-sm">
          <table class="table table-sm">
            <tr>
            <tr>
              <td colspan="3"><h3>30대</h3></td>
            </tr>
              <!--30-->
              <th scope="col" width="60px">순위</th>
              <th scope="col">　　　　검색어</th>
              <th scope="col" width="60px">시간대</th>
            </tr>

            {% for i in kk %}
            <tr>
                <td>{{i.2.0}}</td>
                <td>{{i.2.1}}</td>
                <td>{{i.2.2}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      
          <div class="col-sm">
            <table class="table table-sm">
              <tr>
            <tr>
              <td colspan="3"><h3>40대</h3></td>
            </tr>            
              <!--40-->
              <th scope="col" width="60px">순위</th>
              <th scope="col">　　　　검색어</th>
              <th scope="col" width="60px">시간대</th>
            </tr>

            {% for i in kk %}
            <tr>
                <td>{{i.3.0}}</td>
                <td>{{i.3.1}}</td>
                <td>{{i.3.2}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      
          <div class="col-sm">
            <table class="table table-sm">
            <tr>
              <td colspan="3"><h3>50대</h3></td>
            </tr>            
              <tr>
              <!--50-->
              <th scope="col" width="60px">순위</th>
              <th scope="col">　　　　검색어</th>
              <th scope="col" width="60px">시간대</th>
            </tr>

            {% for i in kk %}
            <tr>
                <td>{{i.4.0}}</td>
                <td>{{i.4.1}}</td>
                <td>{{i.4.2}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>


      
      </div>
  </div>
</div>
<div style="margin-left:5%; float: left; width:20%">
      <table class="table">
            <tr>
                <th>번호</th>
                <th style="">댓글</th>
                <th>내용</th>
                <th>작성자</th>
            </tr>
            {% for one in abs%}
            <tr>
                <td>{{one.no}}</td>
                <td>{{one.title}}</a></td>
                {% autoescape off %}
                <td>{{one.content}}</td>
                {% endautoescape %}
                <td>{{one.writer}}</td>
            </tr>
            {% endfor %}
      </table>
      <table>
        <form action="/board/service4" method="POST" >
          <div class = "container">
          <h3>댓글쓰기</h3>
          <div class ="form-inline" style="margin-bottom:5px;">
              <label>글제목</label>
              <input type="text" style="width: 50%" class="form-control" name="title"  />
          </div>
          <div class ="form-inline">
              <div class="form-group">
                  <label>글내용</label>
              </div>
              {% autoescape off %}
              <div class="form-group" style="width:50%">
                  <textarea id="summernote" class="form-control" name="content" ></textarea>
              </div>
              {% endautoescape %}
              
          </div>
          <div class ="form-inline">
              <label>작성자</label>
              <input type="text" style="width: 50%" class="form-control" name="writer"/>
          </div>
          <div class ="form-inline">
              <input type="submit" class="btn btn-primary"value="글쓰기"/>
          </div>
          </div>
      </form>
      </table>
</div>
</body>
</html>