<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리스트</title>  
    <link  rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>
    <link href="/css/normalize-e465cb86.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/foundation.min-978d4ce8.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/tomorrow-d7cf0921.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/c3-eb4b9be8.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/style-99fb8989.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/samples/chart_donut-da39a3ee.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- include libraries(jQuery, bootstrap) -->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.3/c3.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.3/c3.min.js"></script>
</head>

<body>

{% include './menu.html' %}


<div class='container'>

    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <h1> 연간 검색어 집계 </h1>
            <hr />

            <div class="form-inline row justify-content-end" style="margin-top:5px; margin-bottom: 5px;">
                <form action='/board/service3' method='get'>
                    
                    <select class ='form-control' name='gene'>
                    {% for i in GN %}
                        {% if i == request.GET.gene %}
                        <option value='{{i}}' selected>{{i}}</option>
                        {% else %}
                        <option value='{{i}}'>{{i}}</option>
                        {% endif %}
                    {% endfor %}
                    </select> &nbsp;
                    
                    시작범위
                    <select class ='form-control' name='year'>
                        {% if request.GET.year == '2019' %}
                        <option value='2019'selected>2019</option>
                        {% else %}
                        <option value='2019'>2019</option>
                        {% endif %}
        
                        {% if request.GET.year == '2020' %}
                        <option value='2020'selected>2020</option>
                        {% else %}
                        <option value='2020'>2020</option>
                        {% endif %}
                    </select> &nbsp;
                    
                    
                    <select class ='form-control' name='month'>
                    {% for i in MM %}
                        {% if i == request.GET.month %}
                        <option value='{{i}}' selected>{{i}}월</option>
                        {% else %}
                        <option value='{{i}}'>{{i}}월</option>
                        {% endif %}
                    {% endfor %}
                    </select> &nbsp;
                    
                    <select class ='form-control' name='day'>
                        {% for i in DD %}
                            {% if i|stringformat:"i" == request.GET.day %}
                            <option value='{{i}}' selected>{{i}}일</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}일</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <select class ='form-control' name='time'>
                        {% for i in SS %}
                            {% if i|stringformat:"i" == request.GET.time %}
                            <option value='{{i}}' selected>{{i}}시</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}시</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <select class ='form-control' name='rank'>
                        {% for i in RK %}
                            {% if i|stringformat:"i" == request.GET.rank %}
                            <option value='{{i}}' selected>{{i}}위</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}위</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;종료범위
        
                    <select class ='form-control' name='year2'>
                        {% if request.GET.year2 == '2020' %}
                        <option value='2020'selected>2020</option>
                        {% else %}
                        <option value='2020'>2020</option>
                        {% endif %}
                        {% if request.GET.year2 == '2019' %}
                        <option value='2019'selected>2019</option>
                        {% else %}
                        <option value='2019'>2019</option>
                        {% endif %}
                    </select> &nbsp;
        
                    <select class ='form-control' name='month2'>
                        {% for i in MM %}
                            {% if i == request.GET.month2 %}
                            <option value='{{i}}' selected>{{i}}월</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}월</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <select class ='form-control' name='day2'>
                        {% for i in DD %}
                            {% if i|stringformat:"i" == request.GET.day2 %}
                            <option value='{{i}}' selected>{{i}}일</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}일</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <select class ='form-control' name='time2'>
                        {% for i in SS %}
                            {% if i|stringformat:"i" == request.GET.time2 %}
                            <option value='{{i}}' selected>{{i}}시</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}시</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <select class ='form-control' name='rank2'>
                        {% for i in RK %}
                            {% if i|stringformat:"i" == request.GET.rank2 %}
                            <option value='{{i}}' selected>{{i}}위</option>
                            {% else %}
                            <option value='{{i}}'>{{i}}위</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;
                    
                    <input type ='submit'class='btn btn-secondary' value='필터' />
                </form>
            </div>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-inline row justify-content-end" style="margin-top:5px; margin-bottom: 5px;">
                <table class = 'table table-hover'>
                    <tr>
                        <th>검색어</th>
                        <th>검색횟수</th>
                    </tr>
                    
                    {% for one in filtered %}

                        {% if   forloop.counter0 == 0 %}
                            <tr class="table-primary">
                                <td><a href="#">{{one.0}}</a></td>
                                <td>{{one.1}}</td>
                            </tr>  

                        {% elif forloop.counter0 == 1 %}
                            <tr class="table-warning">
                                <td><a href="#">{{one.0}}</a></td>
                                <td>{{one.1}}</td>
                            </tr> 

                        {% elif forloop.counter0 == 2 %}
                            <tr class="table-success">
                                <td><a href="#">{{one.0}}</a></td>
                                <td>{{one.1}}</td>
                            </tr> 

                        {% elif forloop.counter0 == 3 %}
                            <tr class="table-danger">
                                <td><a href="#">{{one.0}}</a></td>
                                <td>{{one.1}}</td>
                            </tr> 

                        {% elif forloop.counter0 == 4 %}
                            <tr class="table-info">
                                <td><a href="#">{{one.0}}</a></td>
                                <td>{{one.1}}</td>
                            </tr> 

                        {% else %}
                            <tr >
                                <td><a href="#">{{one.0}}</a></td>
                                <td>{{one.1}}</td>
                            </tr>                    
                        {% endif %}

                    {% endfor %}  
                </table>
            </div> 
        </div>
        <div class="col-md-6">
            <div id='chart'></div>
            
            <br>    
            <br>    
            <br>   

            <div style="margin-top:5px; margin-bottom: 5px;">
                <table class="table">
                        <tr>
                            <th>번호</th>
                            <th style="">댓글</th>
                            <th>내용</th>
                            <th>작성자</th>
                        </tr>
                        {% for one in abs%}
                        <tr>
                            <td>{{one.no}}</td>
                            <td>{{one.title}}</a></td>
                            {% autoescape off %}
                            <td>{{one.content}}</td>
                            {% endautoescape %}
                            <td>{{one.writer}}</td>
                        </tr>
                        {% endfor %}
                </table>
                <table>
                    <form action="/board/service3" method="POST" >
                    <div class = "container">
                    <h3>댓글쓰기</h3>
                    <div class ="form-inline" style="margin-bottom:5px;">
                        <label>글제목</label>
                        <input type="text" style="width: 50%" class="form-control" name="title"  />
                    </div>
                    <div class ="form-inline">
                        <div class="form-group">
                            <label>글내용</label>
                        </div>
                        {% autoescape off %}
                        <div class="form-group" style="width:50%">
                            <textarea id="summernote" class="form-control" name="content" ></textarea>
                        </div>
                        {% endautoescape %}
                        
                    </div>
                    <div class ="form-inline">
                        <label>작성자</label>
                        <input type="text" style="width: 50%" class="form-control" name="writer"/>
                    </div>
                    <div class ="form-inline">
                        <input type="submit" class="btn btn-primary"value="글쓰기"/>
                    </div>
                    </div>
                </form>
                </table>
            </div>

        </div>
    </div>

</div>

<script src="/js/ace/ace.js" type="text/javascript"></script>
<script src="/js/ace/mode-javascript.js" type="text/javascript"></script>
<script src="/js/ace/theme-tomorrow.js" type="text/javascript"></script>
<script>
    // var objx = eval(str1)  //문자열로 [1,2,3,4]  => javascript배열로변경
    //objx.unshift('x');     //['x',1,2,3,4]
    //console.log(objx)

    //var objy = eval(str2)
    //objy.unshift('rank');
    //console.log(objy)

    //str_xs = {'rank': 'x' }
    //print(str_xs)
    $(function(){

        var arr2 = []
        var arr1 = []

        var str1_1='{{word1}}'
        str1_1=str1_1.replace(/&#x27;/gi, "'").replace(/&#39;/gi, "'");
        var objx1 = eval(str1_1)
        
                
        var str2_1='{{rank1}}'
        var objy1 = eval(str2_1)
        
        arr1.push(objx1)
        arr1.push(objy1)
        arr2.push(arr1)


        var str1_2='{{word2}}'
        str1_2=str1_2.replace(/&#x27;/gi, "'").replace(/&#39;/gi, "'");
        var objx2 = eval(str1_2)
        
        var str2_2='{{rank2}}'
        var objy2 = eval(str2_2)

        arr1=[]    
        arr1.push(objx2)
        arr1.push(objy2)
        arr2.push(arr1)


        var str1_3='{{word3}}'
        str1_3=str1_3.replace(/&#x27;/gi, "'").replace(/&#39;/gi, "'");
        var objx3 = eval(str1_3)
        
        var str2_3='{{rank3}}'
        var objy3 = eval(str2_3)

        arr1=[]
        arr1.push(objx3)
        arr1.push(objy3)
        arr2.push(arr1)        

        var str1_4='{{word4}}'
        str1_4=str1_4.replace(/&#x27;/gi, "'").replace(/&#39;/gi, "'");
        var objx4 = eval(str1_4)       
        
        var str2_4='{{rank4}}'
        var objy4 = eval(str2_4)


        arr1=[]
        arr1.push(objx4)
        arr1.push(objy4)
        arr2.push(arr1)

        var str1_5='{{word5}}'
        str1_5=str1_5.replace(/&#x27;/gi, "'").replace(/&#39;/gi, "'");
        var objx5 = eval(str1_5)
        
        var str2_5='{{rank5}}'
        var objy5 = eval(str2_5)


        arr1=[]
        arr1.push(objx5)
        arr1.push(objy5)
        arr2.push(arr1)

        var chart = c3.generate({
            bindto:"#chart",
            data: {
                columns:arr2,
                type : 'donut',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },
            donut: {
                title: "기간별 검색어 top5"
            }
        });
    })

</script>
<script src="/js/samples/chart_donut-fca576b3.js" type="text/javascript"></script>


</body>
</html>