{% include './header.html' %}
<body>
{% include './menu.html' %}
<div class='container'>
<h3> 연간 검색어 집계 </h3>
<hr />
    <div class="form-inline row justify-content-end" 
        style="margin-top:5px; margin-bottom: 5px;">
        <form action='/board/service3' method='get'>
            
            <select class ='form-control' name='gene'>
            {% for i in GN %}
                {% if i == request.GET.gene %}
                <option value='{{i}}' selected>{{i}}</option>
                {% else %}
                <option value='{{i}}'>{{i}}</option>
                {% endif %}
            {% endfor %}
            </select> &nbsp;
            
            시작범위
            <select class ='form-control' name='year'>
                {% if request.GET.year == '2019' %}
                <option value='2019'selected>2019</option>
                {% else %}
                <option value='2019'>2019</option>
                {% endif %}

                {% if request.GET.year == '2020' %}
                <option value='2020'selected>2020</option>
                {% else %}
                <option value='2020'>2020</option>
                {% endif %}
            </select> &nbsp;
            
            
            <select class ='form-control' name='month'>
            {% for i in MM %}
                {% if i == request.GET.month %}
                <option value='{{i}}' selected>{{i}}월</option>
                {% else %}
                <option value='{{i}}'>{{i}}월</option>
                {% endif %}
            {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='day'>
                {% for i in DD %}
                    {% if i|stringformat:"i" == request.GET.day %}
                    <option value='{{i}}' selected>{{i}}일</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}일</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='time'>
                {% for i in SS %}
                    {% if i|stringformat:"i" == request.GET.time %}
                    <option value='{{i}}' selected>{{i}}시</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}시</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='rank'>
                {% for i in RK %}
                    {% if i|stringformat:"i" == request.GET.rank %}
                    <option value='{{i}}' selected>{{i}}위</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}위</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;종료범위

            <select class ='form-control' name='year2'>
                {% if request.GET.year2 == '2019' %}
                <option value='2019'selected>2019</option>
                {% else %}
                <option value='2019'>2019</option>
                {% endif %}

                {% if request.GET.year2 == '2020' %}
                <option value='2020'selected>2020</option>
                {% else %}
                <option value='2020'>2020</option>
                {% endif %}
            </select> &nbsp;

            <select class ='form-control' name='month2'>
                {% for i in MM %}
                    {% if i == request.GET.month2 %}
                    <option value='{{i}}' selected>{{i}}월</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}월</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='day2'>
                {% for i in DD %}
                    {% if i|stringformat:"i" == request.GET.day2 %}
                    <option value='{{i}}' selected>{{i}}일</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}일</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='time2'>
                {% for i in SS %}
                    {% if i|stringformat:"i" == request.GET.time2 %}
                    <option value='{{i}}' selected>{{i}}시</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}시</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <select class ='form-control' name='rank2'>
                {% for i in RK %}
                    {% if i|stringformat:"i" == request.GET.rank2 %}
                    <option value='{{i}}' selected>{{i}}위</option>
                    {% else %}
                    <option value='{{i}}'>{{i}}위</option>
                    {% endif %}
                {% endfor %}
            </select> &nbsp;
            
            <input type ='submit'class='btn btn-secondary' value='필터' />
        </form>
    </div>

    <table border='4' class = 'table'>
        <tr>
            <th>검색어</th>
            <th>검색횟수</th>
        </tr>
        
        {% for one in filtered %}
        <tr>
            <td><a href="#">{{one.0}}</a></td>
            <td>{{one.1}}</td>
        </tr>  
        {% endfor %}  
    </table>
    </form>

<!-- footer.html -->
</div>
</body>
</html>

<a class="page-link" 
href="/board/service3?page={{i}}&txt={{request.GET.txt}}">{{i}}</a>
<a href="/board/service3?writer={{one.2}}">{{one.2}}</a>
service3?gene=10%EB%8C%80&year=2019&month=1&day=1&time=0http://127.0.0.1:8000/board/service3?gene=20%EB%8C%80&year=2019&month=1&day=1&time=0
service3?gene=20%EB%8C%80&year=2019&month=1&day=1&time=0
service3?gene=50%EB%8C%80%EC%9D%B4%EC%83%81&year=2019&month=1&day=1&time=0